@font-face {
  font-family: "vazir-regular";
  src: url("../../../fonts/vazir-font-v16.1.0/Vazir.woff");
}

.MenuBar {
  & p {
    font-size: 0.875rem;
    font-family: "vazir-regular";
    width: auto;
    height: auto;
    padding: 0.125rem 0.75rem;
    display: inline-block;
    color: rgb(58, 61, 66);
    text-align: initial;
    &:hover {
      font-weight: 700;
      color: rgb(58, 61, 66);
      font-size: 0.875rem;
      border-left: 0.125rem solid rgb(58, 61, 66);
      cursor: pointer;
    }
  }
}
