@font-face {
  font-family: 'vazir-regular';
  src: url("../../../fonts/vazir-font-v16.1.0/Vazir.woff");
}


.ShoppingButton {
  & > span {
    font-family: 'vazir-regular' !important;
    font-weight: bold;
  }
  font-family: 'vazir-regular';
  display: flex;
  align-items: center;
  & .AddRemoveBtn {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    transition: all 150ms ease-out 0s;
    box-sizing: border-box;
    min-width: auto;
    width: 2rem;
    height: 2rem;
    border: 0.09375rem solid rgba(255, 0, 166, 0.06);
    border-radius: 50%;
    color: rgb(255, 0, 166);
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px,
      rgb(0 0 0 / 20%) 0px 4px 16px -8px;
    font-size: 0.875rem;
    font-weight: 700;
    &:hover {
      color: rgb(255, 255, 255);
      background-color: rgb(224, 0, 150);
      border-color: rgba(255, 0, 166, 0.06);
    }
  }
  

  .removeShop {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    transition: all 150ms ease-out 0s;
    box-sizing: border-box;
    min-width: auto;
    border-radius: 50%;
    color: rgb(156, 159, 163);
    background-color: transparent;
    border: none !important;
    background-clip: padding-box;
    box-shadow: none;
    font-size: 0.8rem;
    &:hover {
      background-color: rgba(58, 61, 66, 0.06);
      border-color: rgba(58, 61, 66, 0.06);
    }
  }
}
.Add {
  font-family: 'vazir-regular';
  height: 2.3125rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  transition: all 150ms ease-out 0s;
  box-sizing: border-box;
  min-width: 6.6875rem;
  width: auto;
  height: 2.5rem;
  border: 0.09375rem solid rgba(255, 0, 166, 0.06);
  border-radius: 3rem;
  color: rgb(255, 0, 166);
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px,
    rgb(0 0 0 / 20%) 0px 4px 16px -8px;
  &:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(224, 0, 150);
    border-color: rgba(255, 0, 166, 0.06);
  }
}
