.colseBtn:focus {
  box-shadow: none !important;
}

.Inputs {
  & label {
    color: rgb(83, 86, 92);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
  }
  & input {
    border: 1px solid rgba(0, 133, 67, 0.317);
    border-radius: 5px;
    padding-left: 0.4rem;
    width: 50%;
   &:focus-visible {
    outline: none;
    background-color:rgba(0, 133, 66, 0.06) ;
   }
  }

}
.addAddress {
  & button {
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 1rem;
    display: inline-flex;
    cursor: pointer;
    transition: all 150ms ease-out 0s;
    box-sizing: border-box;
    min-width: 6.6875rem;
    width: 96%;
    height: 2.5rem;
    border: 0.09375rem solid transparent;
    border-radius: 0.375rem;
    color: rgb(0, 184, 98);
    background-color: transparent;
    background-clip: padding-box;
    box-shadow: none;
    font-size: 1rem;
    font-weight: 700;
    &:hover{
      color: rgb(0, 133, 66);
      background-color: rgba(0, 133, 66, 0.06);
      border-color: rgba(0, 133, 66, 0.06);
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(133, 133, 133, 0.75);
}

.modal {
  position: fixed;
  top: 10vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  width: 90vw;
  max-width: 640px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 8px, rgb(0 0 0 / 16%) 0px 8px 32px;
  border-radius: 0.75rem;
  animation: 0.3s cubic-bezier(0.4, 0, 0, 1.5) 0s 1 normal forwards running
    cdxymQ;
  max-height: 90vh;
  overflow: hidden;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.AddressEditor {
  cursor: pointer;
  margin-top: 0.5rem;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.625rem 1rem 0.625rem 1rem;
  border: 1px solid rgba(58, 61, 66, 0.06);
  border-radius: 0.375rem;
  & div:nth-child(2) {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0px;
    margin: 0px;
    color: rgb(83, 86, 92);
    text-align: initial;
  }
  & button {
    color: #fa284b;
    border: none;
    background: transparent;
  }
  & button:nth-child(4) {
    color: #00b862;
  }
  & .check {
    color: #00b862;
  }
}
