@import "./variable";
@font-face {
  font-family: "vazir-light";
  src: url("../../fonts/vazir-font-v16.1.0/Vazir-Light.woff2");
}

.NavbarSearch {
  font-family: "vazir-light";
  & input {
    background: $navbar-search-background;
  }
  & .top-35 {
    top: 35%;
  }
}
