@import './variable';

@font-face {
    font-family: 'vazir-light';
    src: url('../../fonts/vazir-font-v16.1.0/Vazir-Light.woff2');
}

.NavbarAddressSelector {
    & p {
        font-family: 'vazir-light';
        font-size: 10px;
    }
}



