.profile {
  position: relative;
  & button {
    border: none;
    background: none;
  }
  .dropdown {
    a {text-decoration: none; color: black;}
    position: absolute;
    width: 13.5rem;
    min-height: 3rem;
    background: white;
    color: rgb(58, 61, 66);
    padding: 1rem;
    box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px,
      rgb(0 0 0 / 30%) 0px 8px 32px -16px;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
  }
}
.fYgmHQ {
    box-sizing: border-box;
    width: 100%;
    padding-left: 0.5rem;
}

.jjoKdG {
    display: flex;
    -webkit-box-pack: initial;
    place-content: initial;
    -webkit-box-align: center;
    align-items: center;
    flex-flow: row nowrap;
    flex: unset;
}

.kHUHMT {
    display: flex;
    -webkit-box-pack: initial;
    place-content: initial;
    -webkit-box-align: initial;
    align-items: initial;
    flex-flow: column nowrap;
    flex: unset;
    
}
.iNbUWE {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(58, 61, 66);
    text-align: initial;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.fYgmHQ > :last-child > :last-child {
    margin-top: 0.25rem;
    cursor: pointer;
}


.bbkASH {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(0, 184, 98);
    text-align: initial;
}

.dPVcsd > button {
    -webkit-box-pack: start;
    justify-content: flex-start;
    min-height: 3rem;
    padding-right: 1rem;
}

.gqrDIg > * {
    width: 100%;
}

.dFpITq {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-content: initial;
    -webkit-box-align: initial;
    align-items: initial;
    flex-flow: row nowrap;
    flex: unset;
}
.jjoKdG {
    display: flex;
    -webkit-box-pack: initial;
    place-content: initial;
    -webkit-box-align: center;
    align-items: center;
    flex-flow: row nowrap;
    flex: unset;
}
.iVIhbz {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(58, 61, 66);
    text-align: initial;
}

.bPFMSs {
    box-sizing: border-box;
    margin-right: auto;
    padding: 0.125rem 0.25rem 0.125rem 0.75rem;
    background-color:#fd0;
    border: 1px solid #ffce00;
    border-radius: 2rem;
}

.jjoKdG {
    display: flex;
    -webkit-box-pack: initial;
    place-content: initial;
    -webkit-box-align: center;
    align-items: center;
    flex-flow: row nowrap;
    flex: unset;
}
.fwoOIK {
    display: flex;
    -webkit-box-pack: initial;
    place-content: initial;
    -webkit-box-align: baseline;
    align-items: baseline;
    flex-flow: row nowrap;
    flex: unset;
}
.iNbUWE {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(58, 61, 66);
    text-align: initial;
}
.lkJvoQ {
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.75rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(58, 61, 66);
    text-align: initial;
}
.dPVcsd > button {
    -webkit-box-pack: start;
    justify-content: flex-start;
    min-height: 3rem;
    padding-right: 1rem;
}
.gqrDIg > * {
    width: 100%;
}

.dFpITq {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-content: initial;
    -webkit-box-align: initial;
    align-items: initial;
    flex-flow: row nowrap;
    flex: unset;
}
.dDLLQr {
    display: flex;
    -webkit-box-pack: initial;
    place-content: initial;
    -webkit-box-align: initial;
    align-items: initial;
    flex-flow: row nowrap;
    flex: unset;
}
.bnfMrF > * svg {
    margin-left: 1rem;
}
.iVIhbz {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(58, 61, 66);
    text-align: initial;
}
.haKYkj {
    display: inline-flex;
    -webkit-box-pack: initial;
    place-content: initial;
    -webkit-box-align: initial;
    align-items: initial;
    flex-flow: column nowrap;
    flex: unset;
}
.gsAfZm {
    display: inline-flex;
    -webkit-box-pack: initial;
    place-content: initial;
    -webkit-box-align: center;
    align-items: center;
    flex-flow: row nowrap;
    flex: unset;
}
.iDOvlP {
    display: inline-flex;
    -webkit-box-pack: initial;
    place-content: initial;
    align-items: flex-start;
    flex-flow: column nowrap;
    flex: unset;
}
.iNbUWE {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(58, 61, 66);
    text-align: initial;
}
.fPgtmC {
    font-family: IRANSansMobile;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(83, 86, 92);
    text-align: initial;
}
.dPVcsd > button {
    -webkit-box-pack: start;
    justify-content: flex-start;
    min-height: 3rem;
    padding-right: 1rem;
}
.jjoKdG {
    display: flex;
    -webkit-box-pack: initial;
    place-content: initial;
    -webkit-box-align: center;
    align-items: center;
    flex-flow: row nowrap;
    flex: unset;
}
.dluRfl {
    margin-right: 0.875rem;
}

.iVIhbz {
    font-family: IRANSansMobile;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(58, 61, 66);
    text-align: initial;
}
.dPVcsd > button {
    -webkit-box-pack: start;
    justify-content: flex-start;
    min-height: 3rem;
    padding-right: 1rem;
}
.cOxCdo > :last-child:not(:first-child) {
    margin-right: 0.5rem;
}

.iVIhbz {
    font-family: IRANSansMobile;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(58, 61, 66);
    text-align: initial;
}