@font-face {
  font-family: "vazir-regular";
  src: url("../../../fonts/vazir-font-v16.1.0/Vazir.woff");
}

.FoodMenu {
  .foodCard {
    border: 0.0625rem solid #ebedf0;
  }
  border-style: 0.0625rem solid #ebedf0;
  border: 0.0625rem solid #ebedf0;
  background-color: white;
  border-radius: 16px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  & .foodTitle {
    font-family: "vazir-regular";
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(58, 61, 66);
    text-align: initial;
  }
  & .foodDiscription {
    margin-top: 0.5rem;
    word-break: break-word;
    font-family: "vazir-regular";
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(166, 170, 173);
    text-align: initial;
  }
  & img {
    border-radius: 0.5rem;
    width: 112px;
    aspect-ratio: auto 112 / 112;
    height: 112px;
    border-style: none;
  }
  & .addToCard {
    &:hover {
      background-color: rgb(249, 250, 251);
      transition: all 0.3s ease 0s;
    }
    & > div > span {
      font-family: "vazir-regular";
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1rem;
      width: auto;
      height: auto;
      padding: 0px;
      margin: 0px;
      display: inline-block;
      color: rgb(58, 61, 66);
      text-align: initial;
    }
    & > div > span:nth-child(2) {
      font-weight: bold;
    }
    & button {
      height: 2.3125rem;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.25rem;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      display: inline-flex;
      cursor: pointer;
      transition: all 150ms ease-out 0s;
      box-sizing: border-box;
      min-width: 6.6875rem;
      width: auto;
      height: 2.5rem;
      border: 0.09375rem solid rgba(255, 0, 166, 0.06);
      border-radius: 3rem;
      color: rgb(255, 0, 166);
      background-color: rgb(255, 255, 255);
      background-clip: padding-box;
      box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px,
        rgb(0 0 0 / 20%) 0px 4px 16px -8px;
      font-family: "vazir-regular";
      &:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(224, 0, 150);
        border-color: rgba(255, 0, 166, 0.06);
      }
    }
  }
}
