@font-face {
  font-family: "vazir-regular";
  src: url("../../../fonts/vazir-font-v16.1.0/Vazir.woff");
}

.FoodMenu {
    font-family: "vazir-regular";
    border: 0.0625rem solid #ebedf0;
  border-style: 0.0625rem solid #ebedf0;
  border: 0.0625rem solid #ebedf0;
  background-color: white;
  border-radius: 16px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  }
