.FoodMenu{
    border-style: 0.0625rem solid #EBEDF0;
    border: 0.0625rem solid #EBEDF0;
    background-color: white;
    border-radius: 16px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}